.search-bar-container {
  width: 40vw;
  align-self: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: -3px 3px;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 24px;
  border-radius: 10px;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  /* border-radius: 10px; */
  color: var(--color-primary);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
