.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vw;
  align-content: space-around;
}
.card {
  width: 280px;
  background-color: var(--color-secondary);
  border: 2px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: -3px 3px 3px 2px;
}
.card__image {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.card-not-found {
  align-self: center;
  margin-left: 30vw;
}
